<nav class="nav navbar-expand-lg container mt-4 p-0" id="nav">
    <a href="{{ path('home') }}">
        <img class="logo-navbar" src="{{ asset('build/images/logo.png') }}" alt="logo">
    </a>

    <div class="w-100 burger">
        <button type="button" class="navbar-toggle collapsed btn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-2x"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="navbar-link nav-link mr-4" href="{{ path("home") }}">Portfolio</a>
            </li>
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a class="navbar-link nav-link mr-4" href="{{ path('admin') }}">Administration</a>

                    </li>
                    <li>
                        <a class="navbar-link nav-link mr-4" href="{{ path('app_logout') }}">Se deconnecter</a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                <a class="btn btn-outline-primary navbar-link nav-link btn-contact" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>
